<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>Login Page</title>
        <link rel="stylesheet" href="../css/loginstyles.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body>
        <div class="header">
            <img src="../img/Lelang.png" alt="LelangPedia Logo" height="100" width="100">
        </div>
        <div class="body">
            <div class="vector-image">
                <img id="middle-border" src="../img/Vector 3.png" alt="Vector Images" height="600" width="auto">
            </div>
            <div class="login-form">
               <div class="login-box">
                    <div>
                        <h2>Login</h2>
                    </div>
                    <form>
                        <div class="email-box">
                            <label for="email">Email Address</label><br>
                            <input type="text" id="email" name="email" value="  example@gmail.com">
                        </div>
                        <div class="password-box">
                            <label for="password">Password</label><br>
                            <input type="text" id="password" name="password" value="  password">
                        </div>
                        <div class="checkbox-me">
                            <div>
                                <input type="checkbox" id="remember-me" name="remember-me">
                                <label id="remember-label" for="remember-me">Remember Me</label>
                            </div>
                            <div>
                                <a>Forget Password?</a>
                            </div>
                        </div>
                        <div class="login-btn">
                            <input type="submit" value="Login">
                        </div>
                        <div class="register">
                            <div>
                                <p>Don't have an Account?</p>
                            </div>
                            <div class="register-link">
                                <a>Register here</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                <p>© LelangPedia. all rights reserved. </p>
            </div>
        </div>
    </body>
</html>