<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>Login Page</title>
        <link rel="stylesheet" href="../css/loginstyles.css">
    </head>
    <body>
        <div class="header">
            <img src="../img/Lelang.png" alt="LelangPedia Logo" height="100" width="100">
        </div>
        <div class="body">
            <div class="vector-image">
                <img id="middle-border" src="../img/Vector 3.png" alt="Vector Images" height="600" width="auto">
            </div>
            <div class="login-form">
                <div class="login-box">
                    <div><h2>Login</h2></div>
                    <form>
                        <div>
                            <label for="email">Email Address</label><br>
                            <input type="text" id="email" name="email" value="example@gmail.com">
                        </div>
                        <div>
                            <label for="password">Password</label><br>
                            <input type="text" id="password" name="password" value="password">
                        </div>
                        <div>
                            <input type="checkbox" id="remember-me" name="remember-me">
                            <label for="remember-me">Remember Me</label>
                            <a> Forget Password</a>
                        </div>
                        <div>
                            <input type="submit" value="Login">
                        </div>
                        <div>
                            <p>Don't have an Account? <a>Register here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>