<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>Login Page</title>
        <link rel="stylesheet" href="../css/loginstyles.css">
    </head>
    <body>
        <div class="header">
            <img src="../img/Lelang.png" alt="LelangPedia Logo" height="100" width="100">
        </div>
        <div class="body">
            <div class="vector-image">
                <img id="middle-border" src="../img/Vector 3.png" alt="Vector Images" height="600" width="auto">
            </div>
            <div class="login-form">
                <h2>Login</h2>
            </div>
        </div>
    </body>
</html>