<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Register Page</title>
        <link rel="stylesheet" href="../css/registerstyles.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body> 
        <div class="header">
            <img src="../img/Lelang.png" alt="LelangPedia Logo" height="100" width="100">
        </div>
        <div class="body">
            <div class="vector-image">
                <img id="middle-border" src="../img/Vector 3.png" alt="Vector Images" height="600" width="auto">
            </div>
            <div class="register-form">
                <div class="register-box">
                    <div class="header-form">
                        <h2>Create your account</h2>
                    </div>
                    <form>
                        <div class="fullname">
                            <div class="first-namebox">
                                <label for="first-name">First name</label><br>
                                <input type="text" id="first-name" name="first-name" value="John">
                            </div>
                            <div class="last-namebox">
                                <label for="last-name">Last name</label><br>
                                <input type="text" id="last-name" name="last-name" value="Doe">
                            </div>
                        </div>
                            <div class="email-box">
                                <label for="email">Email</label><br>
                                <input type="text" id="email" name="email" value="  example@gmail.com">
                            </div>
                            <div>
                                <p>Phone Number</p>
                            </div>
                            <div class="phone-number-box">
                                <div>
                                    <input type="text" id="area-code" name="area-code" value="+xx"><br>
                                    <label class="area-code-box" for="area-code">Area code</label>
                                </div>
                                <div>
                                    <input type="text" id="phone-number" name="phone-number" value="xxxx-xxxx-xxxx-xxxx">                            
                                </div>
                            </div>
                            <div>
                                <p>Date of birth</p>
                            </div>
                            <div class="date-box">
                                <div>
                                    <input type="text" id="day" name="day" value="xx"><br>
                                    <label class="day-box" for="day">Day</label>
                                </div>
                                <div>
                                    <input type="text" id="month" name="month" value="xx"><br>
                                    <label class="month-box" for="month">Month</label>
                                </div>
                                <div>
                                    <input type="text" id="year" name="year" value="xxxx"><br>
                                    <label  class="year-box" for="Year">Year</label>
                                </div>
                            </div>
                            <div class="password-box">
                                <label for="password">Password</label><br>
                                <input type="text" id="password" name="password" value="  Password (at least 10 characters)">
                            </div>
                            <div class="confirmpass-box"> 
                                <label for="confirmpassword"> Confirm Password</label><br>
                                <input type="text" id="confirmpassword" name="confirmpassword" value="  Confirm Password">
                            </div>
                            <div class="register-btn">
                                <input class="reg-btn" type="submit" value="Register">
                            </div>
                            <div class="login">
                                <div class="reminder">
                                    <p>Already have an Account?</p>
                                </div>
                                <div class="login-link">
                                    <a>Login here</a>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
            <p>© LelangPedia. all rights reserved. </p>
            </div>
        </div>
    </body>
</html>