
body {
    margin: 0;
}

.header {
    border-bottom-style: solid;
    border-color: rgba(171, 171, 171, 1);
    padding-left: 25px;
    box-shadow: 0 0 5px rgba(171, 171, 171, 1);
}

.body {
    display: flex;
    font-family: "Montserrat";
}

#middle-border {
    border-right-style: solid;
    border-color: rgba(217, 217, 217, 1);
    padding-right: 150px;
}
.vector-image {
    padding: 60px 0px 25px 325px;
}

.login-form {
    height: 750px;
    width: 954px;
}

.login-box {
    height: 600px;
    width: 400px;
    padding: 150px 0px 0px 150px;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: rgba(0, 15, 66, 1);
    font-weight: bolder;
    margin: 25px;
}

.email-box, .password-box, .checkbox-me{
    margin-bottom: 15px;
    border-radius: 30px;
}

input[type = "text"]  {
    width: 98%;
    line-height: 35px;
}

input[type = "submit"] {
    width: 100%;
    font-size: 33px;
    background-color: rgba(0, 15, 66, 1);
    color: white;
    font-weight: bold;
    border-radius: 7.5px;
    padding: 3px;
}

input[type = "checkbox"] {
    transform: scale(1.75);
    accent-color: #ffffff;
}

.checkbox-me {
    display: flex;
    gap: 125px;
    color: rgba(0, 15, 66, 1);
    font-weight: bolder;
    font-size: 15px;
}

.register {
    color: rgba(0, 15, 66, 1);
    font-weight: bolder;
    padding-left: 25px;
    display: flex;
}

.register-link {
    padding: 16px;
}

.footer {
    background-color: rgba(0, 15, 66, 1);
    text-align: center;
    padding: 30px;
    color:  rgba(238, 241, 254, 1);
}