
body {
    margin: 0;
}

.header {
    border-bottom-style: solid;
    border-color: rgba(171, 171, 171, 1);
    padding-left: 25px;
    box-shadow: 0 0 5px rgba(171, 171, 171, 1);
}

.body {
    display: flex;
}

#middle-border {
    border-right-style: solid;
    border-color: rgba(217, 217, 217, 1);
    padding-right: 150px;
    
}
.vector-image {
    padding: 25px 0px 25px 325px;
}
